{% layout 'layout.liquid' %}
{% block content %}

    <div class="card" style="width: 90rem;">
          <h5 class="card-header">{{ 'adkljglk' }}
          </h5>
          <div class="card-body">
            <p class="card-text">
              Sport/Game of player:
              {{ 'ldfkjglsg' }}
            </p>
            <p class="card-text">
              Amount of Total Earnings:
              {{ '202020' }}
            </p>
            <a href="/players/{{ player.id }}" class="btn btn-info">
              Return
              {{ player.name }}
            </a>
    </div>
{% endblock %}