{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h2>
        {{ player.name }}
      </h2>
      <h3>Total Earnings Amount:
        {{ player.amount }}
      </h3>
      <h6>Game/Sport of Player:
        {{ player.game }}
      </h6>
      {% if player.owner == userId %}
        <div class="btn-group">

          <a href="/players/{{ player.id }}/edit" class="btn btn-primary">Edit</a>
          <form action="/players/{{ player.id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </div>
      {% endif %}
      <hr>
    <div class="container-md">
    <div class="card" style="width: 75rem;">
      <h1>Alphabetized List:</h1>
        <h5 class="card-header">adkljglk
        </h5>
        <div class="card-body">
          <p class="card-text">
            Sport/Game of player:
            ldfkjglsg
          </p>
          <p class="card-text">
            Amount of Total Earnings:
            202020
          </p>
          <a href="/players/634ca669ec35fa335ff13792" class="btn btn-info">
            View this player
          </a>
        </div>
      </div>
      <div class="card" style="width: 75rem;">
        <h5 class="card-header">best soccer player
        </h5>
        <div class="card-body">
          <p class="card-text">
            Sport/Game of player:
            football
          </p>
          <p class="card-text">
            Amount of Total Earnings:
            10110
          </p>
          <a href="/players/634d80fe758e6aa74b80689d" class="btn btn-info">
            View this player
          </a>
        </div>
      </div>
  </div>
    <div class="card" style="width: 75rem;">
        <h5 class="card-header">blue
        </h5>
        <div class="card-body">
          <p class="card-text">
            Sport/Game of player:
            football
          </p>
          <p class="card-text">
            Amount of Total Earnings:
            20020202
          </p>
          <a href="/players/634ca89e4a1442ffbe406e30" class="btn btn-info">
            View this player
          </a>
        </div>
      </div>
      <div class="card" style="width: 75rem;">
        <h5 class="card-header">red
        </h5>
        <div class="card-body">
          <p class="card-text">
            Sport/Game of player:
            soccer
          </p>
          <p class="card-text">
            Amount of Total Earnings:
            202020
          </p>
          <a href="/players/634ca89e4a1442ffbe406e30" class="btn btn-info">
            View this player
          </a>
        </div>
      </div>
  </div>
    </article>
  </div>
{% endblock %}